.header-container {
  width: 100%;
  height: 60px;
  background-color: #222526;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title-part {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 20px;
}

.app-title {
  font-size: 26px;
  font-weight: bold;
}